<!DOCTYPE html>
<html>
<head>
    <!-- Style Sheet for Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- My Css style sheet for the page -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">

    <!-- Templating for the title -->
    {% if title %}
	<title>Keyword Generator - {{ title }}</title>
    {% else %}
    <title>Keyword Generator</title>
    {% endif %}
    
    <!-- Dropzone CSS -->
    {{ dropzone.load_css() }}

</head>
<body>

    <!-- Jumbotron for all pages -->
<div class="jumbotron" style="background-color: #2ce2e4 ">
  <h1 class="display-4 text-center">Keyword Generator</h1>
  <hr class="my-4">
  <p class="text-center">Upload a json file to generate a file containing keywords!</p>
  <p class="lead">
  </p>
</div>


<!-- Container for the Drop Zone -->
<div class="row d-flex justify-content-center mt-100">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5>File Upload</h5>
            </div>
            <div class="card-block">

                <!-- Creating the Dropzone -->
                {{ dropzone.create(action=url_for('home')) }}

                <!-- Setting up the configuration for the Dropzone -->
                <!-- {{ dropzone.config() }} -->

                <!-- <form action="#" class="dropzone dz-clickable" id="myDropzone" method="POST"> -->
                    <!-- <div class="dz-default dz-message text-center"><span>Click here or drop files for upload</span></div>
                </form> -->
                <div class="text-center m-t-20">
                    <button class="btn btn-primary" id="submit-all">Upload Now</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Dropzone JSON -->
{{ dropzone.load_js() }}


<main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% block content %}{% endblock %}
      </div>
      </div>
    </div>
  </main>
  

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>